@font-face {
  font-family: 'Roboto';
  src: url("./assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url("./assets/fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
}

body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


